[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.9.6"

[packages]
pyspark = "*"
boto3 = "==1.18.50"
mock = "*"
requests = "==2.23.0"
ratelimit = "*"
spark = "=1.0"

[dev-packages]
pylint = "*"
autopep8 = "*"
black = "22.12.0"
flake8 = "6.0.0"
numpy = "1.22.4"
pandas = "1.4.2"
pytest-watch = "4.2.0"
