[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.9.7"

[packages]
pyspark = "3.2.0"
boto3 = "1.20.7"
mock = "*"
requests = "*"
ratelimit = "*"
spark = "*"

[dev-packages]
pylint = "2.11.1"
autopep8 = "1.6.0"
black = "*"