[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.9.6"

[packages]
pyspark = "==3.4.1"
boto3 = "==1.20.7"
mock = "==5.1.0"
requests = "==2.31.0"
ratelimit = "==2.2.1"
urllib3 = "==1.26.18"
black = "*"
openpyxl = "==3.1.2"

[dev-packages]
pylint = "==2.17.4"
autopep8 = "==2.0.2"
numpy = "==1.19.5"
pandas = "==1.3.2"
pytest-watch = "==4.2.0"
